<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['/dashboard']">
    <img src="assets/img/logo.jpg" alt="Mediconnect" style="width:350px;height:90px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">Contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipient">Recipient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/donor">Donor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hospital">Hospitals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/donation">Donations</a>
      </li>

    </ul>
  </div>
</nav>
<section class="about-section">

  <div class="container">
    <div class="row">
      <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
        <div class="inner-column">
          <div class="sec-title">
            <h1 class="title about-title">About us</h1>
            <h3>Welcome to Medi Connect</h3>
          </div>
          <h5>Our Mission</h5>
          <div class="text">
            At Medi Connect, our mission is to bridge the gap between organ donors and recipients, making the process of
            organ donation efficient, transparent, and ultimately, a life-saving endeavor. We believe that every person
            has the power to be a hero by registering as an organ donor and giving the gift of life. </div>
          <div class="btn-box">
            <a href="#" [routerLink]="['/contact-us']" routerLinkActive="router-link-active"
              class="theme-btn btn-style-one">Contact Us</a>
          </div>
        </div>
      </div>

      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column wow fadeInLeft">
          <div class="author-desc">

          </div>
          <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img
                title="Rahul Kumar Yadav" src="assets/img/about-us.jpg" alt=""></a></figure>

        </div>
      </div>

    </div>
    <div class="sec-title">
      <span class="title our-mission who-why">Who We Are </span>
    </div>
    <div class="text">
      Medi Connect is a dedicated team of passionate individuals who are committed to the cause of organ donation. We
      are driven by the belief that technology can play a crucial role in saving lives. Our team brings together a
      wealth of experience in the fields of healthcare, technology, and community outreach.
    </div>
    <div class="sec-title">
      <span class="title who-why">What We Do </span>
    </div>
    <div class="text">
      Medi Connect has developed a user-friendly web application that facilitates the organ donation process. We provide
      a platform where donors can register, and recipients can find potential matches quickly and easily. Our innovative
      approach streamlines the process, reducing the time it takes for organ recipients to find a compatible donor.
    </div>
    <div class="sec-title">
      <span class="title who-why">Why Choose Us </span>
    </div>
    <div class="text">
      <ul>
        <li>
          1. Efficiency: We understand the urgency in organ transplantation. Our platform is designed to minimize
          waiting
          times and connect donors with recipients promptly.
        </li>
        <li> 2. Transparency:We believe in complete transparency throughout the donation process. Users can trust that
          their
          data is handled with the utmost care and privacy.</li>
        <li> 3. Community: Medi Connect fosters a sense of community among donors, recipients, and their families. We
          provide a
          supportive network of individuals who understand the significance of organ donation.</li>
        <li> 4. Lifesaving Impact: By choosing Medi Connect, you are actively participating in a lifesaving mission.
          Your
          involvement can make a profound difference in the lives of those in need.</li>
      </ul>
    </div>
    <div class="sec-title">
      <span class="title who-why">Get Involved </span>
    </div>
    <div class="text">
      We encourage you to join us in our mission to save lives through organ donation. Register as a donor, spread
      awareness, and become a part of the Medi Connect community.
    </div>
  </div>

</section>
