<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title>Change Password</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/assets/style/style.css" />
</head>
<body>
  <form id="form1" runat="server">
    <div>
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="javascript:void(0)" routerLink="">
          <img src="img/logo.jpg" alt="Mediconnect" style="width: 350px; height: 90px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </nav>
      <div class="container" style="width: 70%">
        <div align="right">
          <a routerLink="/login"><button class="btn pull-right btn-success"> Logout</button></a>
        </div>
        <h1 class="text-center mb-10">Change Password</h1>

        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email" required><br>

        <label for="firstName">New Password<span class="mandatory">*</span>:</label>
        <input type="text" class="form-control" id="newpassword" name="newpassword" required><br>

        <label for="dateOfBirth">Confirm password<span class="mandatory">*</span>:</label>
        <input type="text" class="form-control" id="cnfmPassword" name="cnfmPassword" required><br>

        <input type="submit" class="submit-button" value="Change Password">
        <div class="reset-link">
          <p>Remembered your password? <a routerLink="/login">Login here</a>.</p>
        </div>
      </div>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
  </form>
</body>
</html>

