<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['/dashboard']">
      <img src="assets/img/logo.jpg" alt="Mediconnect" style="width:350px;height:90px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipient">Recipient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donor">Donor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hospital">Hospitals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donation">Donations</a>
        </li>

      </ul>
    </div>
  </nav>
  <header>
    <h1>Organ Donor Awareness</h1>
  </header>
  <section class="content">
    <h2>The Importance of Organ Donation</h2>
    <article class=article>

      <p class="mt-1">Organ donation is a profound act of compassion and altruism that has the potential to transform
        and save lives.
        Its significance is multifaceted, and understanding its importance can inspire individuals to become donors.
        Every year, thousands of people wait for a life-saving organ transplant. Your choice to donate can transform
        lives.</p>
      <img src="assets/img/heart.jpg" alt="Heart image representing organ donation">
    </article>
    <h2>Make a Difference Today</h2>
    <article class=article>

      <p class="mt-1">Deciding to be an organ donor is a generous act that can save up to 8 lives. It's a gift that
        lives on. In the
        ebb and flow of life, there are few decisions as profound and transformative as choosing to donate an organ.
        Amid the myriad choices we make, some stand out as ripples that leave lasting waves in the lives of others.
        Organ donation is one such choice.</p>
      <img src="assets/img/lungs.jpg" alt="Lungs image representing organ donation">
    </article>
    <h2>The Journey of a Lifetime</h2>
    <article class=article>

      <p class="mt-1">From the hopeful wait of a patient to the joy of a second chance - be a beacon of hope in
        someone's life journey.
        Organ donation isn't merely a medical procedure; it's a profound journey, a dance of souls, where one life
        intersects with another, casting a glow that reverberates across time and space. The journey involves waiting,
        hope, generosity, resilience, and rebirth.
      </p>
      <img src="assets/img/organ.jpg" alt="Lungs image representing organ donation">
    </article>
    <h2>Real Stories, Real Impact</h2>
    <article class=article>

      <p class="mt-1">Because of a selfless donor, I've seen my children grow. I am forever grateful.
        Behind every statistic related to organ donation lies a human story—stories of bravery, altruism, second
        chances, and unwavering hope. These narratives not only exemplify the transformative power of organ donation but
        also underscore the deep, lasting impacts that ripple across families and communities.
      </p>
      <img src="assets/img/real.png" alt="Lungs image representing organ donation">
    </article>
  </section>
<section class="mb-5 pb-5 testimony-section">
  <h2 class="text-center mb-4">Testimonials</h2>
  <div id="craouselContainer" class="swiper-container">
    <div class="swiper-wrapper" id="slideHolder">
        <!-- Slides -->

    </div>
    <div class="swiper-pagination"></div>

</div>
</section>


  <footer>
    <p>Join the cause. Be a donor and save lives.</p>
  </footer>
</body>
